@charset "utf-8";

* {
    font-family: helvetica, arial;
    /***  Box Sizing  ***/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
/*    background-image: url('/images/seamlesstexture21_1200.jpg');*/
    }

#header {
    z-index: 90;
    position: relative;
    display: block;
    width: 100%;
    height: 45px;
    background-color: rgba(183,212,227,.76);
    margin: 0;
    }

#header button {
    display: block;
    position: relative;
    cursor:pointer;
    float: left;
    margin: 3px 6px;
    height: 39px;
    padding: 5px 20px;
    font-size: 29px;
    line-height: 100%;
    background-color: rgb(128, 173, 196);
    border: 0;
    box-shadow: 1px 1px rgba(0,0,0,0.12);
    }
#header button:hover {
    background-color: rgb(155, 197, 219);
    }

/* -------------------------------------------------------------------------- */
/* ------------------------------ Main Content ------------------------------ */
/* -------------------------------------------------------------------------- */

#mainContent {  
    display:block;
    position:relative;
    height: auto;
    min-height: 700px;
    max-height: 100%;
    width: 100%;
/*    padding:20px;*/
/*    background-color: rgba(191, 115, 19, 0.61);*/
    overflow:auto;
    }   

/* -------------------------------------------------------------------------- */
/* --------------------------------- Spinner -------------------------------- */
/* -------------------------------------------------------------------------- */

#spinner {  
    display:none;
    position:absolute;
    z-index:999;
    height: 100%;
    width: 100%;
    background-image: url('/flux/images/char-spinning.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    background-color: rgba(255, 255, 255, 0.85);
    } 
#spinner.show {
    display:block;
    }

/* -------------------------------------------------------------------------- */
/* -------------------------------- Buttons --------------------------------- */
/* -------------------------------------------------------------------------- */

button {
    position:relative;
    display:inline-block;
    cursor:pointer;
    font-size:18px;
    line-height:18px;
    background-color:#ffbd6d;
    padding:15px;
    border:1px solid #a06216;
    margin:10px;
    }
button:hover {
    background-color:#fa9b27;
    }

/* -------------------------------------------------------------------------- */
/* -------------------------------- Results --------------------------------- */
/* -------------------------------------------------------------------------- */

#results {
    position: absolute;
    top: 60px;
    right: 0px;
    display: block;
    width: auto;
    min-width: 300px;
    max-width: 61%;
    min-height: 45px;
    background-color: rgba(191, 115, 19, 0.61);
    border-radius: 3px;
    padding: 12px;
    margin: 0px;
    }

/* -------------------------------------------------------------------------- */
/* -------------------------- New Task Container ---------------------------- */
/* -------------------------------------------------------------------------- */
#newTaskContainer {
/*    position: absolute;*/
    position: relative;
    display: block;
/*
    top: 45px;
    left: 0px;
*/
    width: 320px;
    max-width: 96%;
    margin: 60px 2% 2% 2%;
    }

/* -------------------------------------------------------------------------- */
/* --------------------------------- Tasks ---------------------------------- */
/* -------------------------------------------------------------------------- */

#tasks {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 1100px;
    max-width: 92%;
    height: 100%;
    overflow: auto;
    z-index: 10;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.23);
    }
#tasks.shown {
    display:block;
    }

#tasks .task {
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.42);
    padding: 20px;
    border: 1px solid rgba(35, 89, 116, 0.23);
    border-width: 0 0 1px 0;
    }
#tasks .task:hover {
    background-color: rgba(35, 89, 116, 0.23);
    }

#tasks .contexts {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    }
#tasks .contexts span {
    position: relative;
    display: block;
    }

#tasks .id {
    opacity: 0.61;
    font-size: 61%;
    }

#tasks .name {
    font-size: 142%;
    }

#tasks .relationships {
    position:relative;
    display:block;
    overflow:hidden;
    width:100%;
    padding:10px;
    }

#tasks .relationships ul {
    position:relative;
    display:block;
    float:left;
    width:50%;  
    padding:10px;
    }

/* -------------------------------------------------------------------------- */
/* ------------------------------- Contexts --------------------------------- */
/* -------------------------------------------------------------------------- */

#contexts {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 1100px;
    max-width: 92%;
    height: 100%;
    overflow: auto;
    z-index: 10;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.23);
    }
#contexts.shown {
    display:block;
    }

#contexts .context {
    position: relative;
    display: block;
    overflow:hidden;
    width: 100%;
    font-size: 14px;
    padding: 20px;
    border: 1px solid rgba(35, 89, 116, 0.23);
    border-width: 0px 0px 1px 5px;
    }
#contexts .context:hover {
    background-color: rgba(35, 89, 116, 0.12);
    }

#contexts .id {
    opacity: 0.61;
    font-size: 61%;
    }

#contexts .name {
    font-size: 142%;
    }

#contexts .availability {
    position: relative;
    display: block;
    padding: 10px 0px;
    overflow: hidden;
    }

#contexts .dayOfWeek {
    position:relative;
    display:block;
    float:left;
    width:calc(100% / 7);
    font-size:12px;
    text-align:center;
    padding: 2px 7px 7px 7px;
    }

#contexts .dayOfWeek:before {
    position:relative;
    display:block;
    font-size:15px;
    line-height:21px;
    vertical-align:middle;
    text-align:center;
    height:21px;
    width:100%;
    padding:5px 0;
    }

#contexts .dayOfWeek .range {
    display:block;
    font-size:12px;
    padding:3px 0px;
    }

#contexts .dayOfWeek .and {
    opacity: 0.42;
    }

#contexts .tasksWithContext {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    }

#contexts .tasksWithContext li {
    font-size:10px;
    }

/* -------------------------------------------------------------------------- */
/* -------------------------------- Listings -------------------------------- */
/* -------------------------------------------------------------------------- */

.listedItems {
    float: left;
    min-width: 600px;
    width: calc(100% - 400px);
    height: 100%;
    overflow: auto;
    }

/* -------------------------------------------------------------------------- */
/* --------------------------------- Form ----------------------------------- */
/* -------------------------------------------------------------------------- */

form {    
    position: relative;
    display: block;
    background-color: rgba(0,0,0,0.03);
    padding: 25px;
    overflow:hidden;
    }
form.newItem {
    float:left;
    max-width:400px;
    }

form > div {
    position:relative;
    overflow:hidden;
    }

/* Remove controls from Safari and Chrome */
form input[type=number]::-webkit-inner-spin-button, 
form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
    }

form input:not([type="checkbox"]) {
    position:relative;
    display: block;
    font-size: 15px;
    padding: 8px;
    width: 350px;
    max-width: calc(100% - 50px);
    margin: 0 0 10px 0;
    }

form .checkbox {
    position:relative;
    display:inline-block;
    font-size:15px;
    line-height:15px;
/*    background-color: rgba(0,0,0,0.03);*/
/*    padding:15px;*/
    margin:5px;
    }

form .checkbox input {
    z-index:2;
    position:absolute;
    display:block;
    opacity:0;
    width:100%;
    height:100%;
    margin:0;
    }

form .checkbox label {
    z-index:1;
    cursor:pointer;
    position:relative;
    display:block;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.03);
    padding:15px;
    }
form .checkbox input:checked + label {
    background-color: rgba(0,0,0,0.12);
    }

form .addCheckbox {
    position:relative;
    display:block;
    float:right;
    width:35px;
    height:35px;
    font-size:25px;
    line-height:25px;
    text-align:center;
    background-color: rgba(0,0,0,0.12);
    padding:3px 5px 7px 5px;
    border:none;
    margin:0;
    }
form .addCheckbox:before {
    content: '+';
    }
form .addCheckbox:hover {
    background-color: rgba(0,0,0,0.24);
    }

form .addCheckbox + input {
    max-width:calc(100% - 56px);
    }

form .range > input {
    width: 45px;
    text-align:center;
    display:inline-block;
    }

form input[type="submit"] {
    position:relative;
    display:block;
    float:right;
    width:auto;
    font-size:18px;
    padding:5px;
    background-color: rgba(0,0,0,0.12);
    border:1px solid rgba(0,0,0,0.42);
    margin:10px;
    }

/* -------------------------------------------------------------------------- */
/* ------------------------------- Calendar --------------------------------- */
/* -------------------------------------------------------------------------- */

#calendar {
    position:relative;
    display:block;
    width:auto;
    float:left;
/*    padding:5px;*/
/*    overflow-x: auto;*/
/*    overflow-y: hidden;*/
/*    overflow:auto;*/
    }

.day {
    position:relative;
    display:block;
    float:left;
    width:calc(100% / 7);
    background-color:rgba(0,0,0,0.01);
    border-right: 1px solid rgba(0,0,0,0.06);
    }
.day.Sunday,
.day.Saturday {
    background-color:rgba(0,0,0,0.06);
    }
.day:before {
    content:'Sunday';
    position:relative;
    display:block;
    font-size:21px;
    line-height:30px;
    vertical-align:middle;
    text-align:center;
    padding: 0 4px;
    height:30px;
    width:100%;
    }
.day.Monday:before { content:'Monday'; }
.day.Tuesday:before { content:'Tuesday'; }
.day.Wednesday:before { content:'Wednesday'; }
.day.Thursday:before { content:'Thursday'; }
.day.Friday:before { content:'Friday'; }
.day.Saturday:before { content:'Saturday'; }

.day .monthDay {
    position:relative;
    display:block;
    opacity:0.61;
    width:100%;
    text-align:center;
    font-size:18px;
    line-height:18px;
    padding:1px;
    }

.timeBlock {
    position:relative;
    display:block;
    height:14px;
    font-size:8px;
    line-height:8px;
/*    background-color:rgba(0,0,0,0.09);*/
    border:1px dotted rgba(0,0,0,0.01);
    border-width:1px 0 0 0;
    }
.timeBlock:hover {
    background-color:rgba(0,0,0,0.23);
    }
.timeBlock[start-minute="00"] {
    border-style:solid;
    border-color:rgba(0,0,0,0.02);
    }
.timeBlock[block-type*="middle"] {
    background-color:#faebd7;
    border: 1px solid #e6d7c3;
    border-width: 0px;
    }
.timeBlock[block-type*="start"] {
    border-width: 1px 0px 0px 0px;
    }
.timeBlock[block-type*="end"] {
    border-width: 0px 0px 1px 0px;
    }
.timeBlock[block-type*="middle"]:hover {
    background-color:#e6d7c3;
    }

.timeBlock * {
    display: inline-block;
    vertical-align:middle;
    }

.timeBlock .date {
    width: 170px;
    font-size:4px;
    }

/*
.timeBlock .contexts {
    width: 200px;
    }
*/

.timeBlock .tasks {
    width: 30px;
    }

.timeBlock .scheduledTask {
    display:none;
    width: 300px;
    }
.timeBlock[block-type*="start"] .scheduledTask {
    display:block;
    width: 300px;
    }

.timeBlock .context {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #000000;
    width: 2px;
    height: calc(100% + 1px);
    }
.timeBlock[block-type*="end"] .context {
    height: calc(100% + 2px);
    }

/* -------------------------------------------------------------------------- */
/* ------------------------------ Form Styles ------------------------------- */
/* -------------------------------------------------------------------------- */
form.standard {
    display: block;
    font-size: 15px;
    background-color: #5b99b9;
    background-image: url('/flux/images/customPattern.png');
    background-size: 9px;
    padding: 12px;
    border: 1px solid rgba(255,255,255,0.39);
/*    border-radius: 9px;*/
    /***  Box Shadow  ***/
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,.39), 0px 0px 3px 0px rgba(0,0,0,.76) inset;
        -o-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.39), 0px 0px 3px 0px rgba(0,0,0,.76) inset;
        -ms-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.39), 0px 0px 3px 0px rgba(0,0,0,.76) inset;
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.39), 0px 0px 3px 0px rgba(0,0,0,.76) inset;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.39), 0px 0px 3px 0px rgba(0,0,0,.76) inset;
    } 

form.standard > table > tbody > tr > td {
    position: relative;
    } 

form.standard > table > tbody > tr > td:first-of-type {
    vertical-align: text-top;
    } 

form.standard [type=text] {
    color: #235974;
    background-color: rgba(255,255,255,0.61);
    padding: 6px;
    border: 0px solid rgba(0,0,0,0.23);
/*    border-radius: 3px;*/
    /***  Box Shadow  ***/
        box-shadow: 0px 0px 3px 0px rgba(35, 89, 116,.23);
        -o-box-shadow: 0px 0px 3px 0px rgba(35, 89, 116,.23);
        -ms-box-shadow: 0px 0px 3px 0px rgba(35, 89, 116,.23);
        -moz-box-shadow: 0px 0px 3px 0px rgba(35, 89, 116,.23);
        -webkit-box-shadow: 0px 0px 3px 0px rgba(35, 89, 116,.23);
    }
    @media only screen and (min-width: 768px) { 
        form.standard [type=text] {
            } 
        }
form.standard [type=text]:focus {
    outline: none;
    /***  Box Shadow  ***/
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,.61);
        -o-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.61);
        -ms-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.61);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.61);
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,.61);
    }

form.standard .add {
    opacity: 0.23;
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    color: #235974;
    font-size: 12px;
    background-color: #ffffff;
    padding: 6px;
    border: 0px solid #235974;
/*    border-radius: 3px;*/
    margin: 0px 0px 0px 6px;
    }
form.standard .add:before {
    content: "\271A";
    }
form.standard .add:hover {
    opacity: 1;
    }

form.standard [type=submit] {
    position: relative;
    display: block;
    font-size: 15px;
    background-color: rgba(255,255,255,0.61);
    padding: 12px;
    border: 1px solid rgba(35, 89, 116, 0.23);
    margin: 12px 0px 0px 0px;
/*    border-radius: 4px;*/
    }
form.standard [type=submit]:hover {
    border: 1px solid rgba(35, 89, 116, 1);
    }
form.standard [type=submit]:active {
    background-color: rgba(35, 89, 116, 1);
    }

/* -------------------------------------------------------------------------- */
/* ----------------------------- DAY OF WEEK -------------------------------- */
/* -------------------------------------------------------------------------- */

.Sunday,
.Saturday {
    background-color:rgba(0,0,0,0.06);
    }
.Sunday:before { content:'Sunday'; }
.Monday:before { content:'Monday'; }
.Tuesday:before { content:'Tuesday'; }
.Wednesday:before { content:'Wednesday'; }
.Thursday:before { content:'Thursday'; }
.Friday:before { content:'Friday'; }
.Saturday:before { content:'Saturday'; }