<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Flux Development</title>
        <meta name="robots" content="noindex,nofollow">
        <meta name="keywords" content="Flux" />
        <meta name="description" content="Flux" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
<!--        <script>var __adobewebfontsappname__ = "code"</script>-->
<!--        <script src="http://use.edgefonts.net/antic:n4:all;gudea:n4,i4,n7:all.js"></script>-->
        <link type="text/css" rel="stylesheet" href="/lib/css/flux.css" />
        <script language="JavaScript" type="text/javascript" src="/lib/js/jquery.js"></script>
        <script language="JavaScript" type="text/javascript" src="/lib/js/jquery-ui.js"></script>
        <script language="JavaScript" type="text/javascript" src="/lib/js/jquery-ui-touch.js"></script>
    </head>
    <body>
        <!-- Print JSONs here -->
<!--        <script language="JavaScript" type="text/javascript" src="/flux/lib/js/flux-core.js"></script>-->
        {{{body}}}
<!--        <script language="JavaScript" type="text/javascript" src="/lib/js/flux-gui.js"></script>-->
    </body>
</html>